<div class="bg1 overlay">
    <div class="row overlay">
        <div class="col center">
            <div class="container home1">
                <div class="title font1">
                    Blogging System
                </div>
                <div class="font3">
                    <br>
                    - Where good ideas find you. <br>
                    - Read and share new perspectives on just about any topic. <br>
                    - Everyone’s welcome. <br>
                </div>
                <button class="btn1 btn btn-primary" routerLink="/login">
                    Get Started
                </button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>