<div class="bg2 full font3">
    <div class="row full">
        <div class="col"></div>
        <div class="col center">
            <div class="h6">
                <div class="text-success h4">
                    Contact Us
                </div>
                <div>
                    Name <br>
                    <input type="text" placeholder="Your Name">
                </div>
                <div>
                    Email <br>
                    <input type="text" placeholder="Your email">
                </div>
                <div>
                    Subject <br>
                    <input type="text" placeholder="Subject">
                </div>
                <div>
                    Message <br>
                    <textarea cols="30" rows="4" placeholder="your message here ..."></textarea>
                </div>
                <div>
                    <button type="submit" class="btn1 btn btn-primary pt-1">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
