<div class="bg2 full font3">
    <div class="row full">
        <div class="col col-sm-4"></div>
        <div class="col col-sm-8 center">

            <div>
                <div>
                    Name <br>
                    <input type="text"> <br>
                </div>
                <div>
                    Email <br>
                    <input type="text"> <br>
                </div>
                <div>
                    Subject <br>
                    <input type="text"> <br>
                </div>
                <div>
                    Message <br>
                    <textarea cols="30" rows="4"></textarea> <br>
                </div>
                <div>
                    <button type="submit" class="btn1 btn btn-primary pt-1">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
